*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    position: relative;
    /* padding: 1px  80px; */
}
#page1 #nav{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1 #nav #nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#page1 #nav #nav2 h3{
    font-weight: 500;
    font-size: 16px;
}
#page1 #nav #nav3 h3{
    font-size: 14px;
    font-family: gilroy;
}
#page1 #nav #h2::first-letter{
    font-size: 60px;
    color: rgb(88, 202, 162);
    transform: rotate(-10deg);
}
#page1 #nav #nav3 h3 #span{
   border-radius: 50%;
   border-color: #fff;
   padding: 7px;
   transform: rotate(45deg);
}
#page1 #container{
    height: 705px;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
#page1 #container #left{
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
    padding: 80px 30px;
    
}
#page1 #container #left h1{
    text-transform: uppercase;
    font-size: 110px;
    font-family: "STXihei";
    line-height: 80px;
    margin-bottom: 40px;
}
#page1 #container #left #navleft{
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dadada;
    padding-top: 14px;
}
#page1 #container #left #navleft h3{
    text-transform: uppercase;
    font-family: "STXihei";
    font-weight: bold;
}
#page1 #container #right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(110, 184, 37); */
    padding: 60px 40px;
}
#page1 #container #right #img{
    height: 90%;
    border-radius: 20px;
    color: #111;
    background-image: url("https://images.unsplash.com/photo-1542596594-649edbc13630?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    overflow: hidden;
}
#page1 #container #right #img h3{
    color: #111;
    text-transform: uppercase;
    font-family: gilroy;
    /* margin-left: 30px; */
   
}
#navright{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#circle1{
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
}
#circle2{
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
}
#page1 #right #search{
    padding: 16px 20px;
    border: 2px solid #111;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page1 #right #search h2{
    color: #111;
    font-family: gilroy;
}
#page1 #right #search i{
    border: 2px solid #111;
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    padding: 5px;
}
#page2{
    height: 60vh;
    width: 100vw;
    background-color: #111;
    position: relative;
    display: flex;
}
#page2 #left{
    height: 100%;
    width: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 40px;
}
#page2 #right{
    height: 100%;
    width: 70%;
    /* background-color: rgb(110, 78, 78); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}
#page2 #left #gg .h3{
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 8px 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: fit-content;
}
#page2 #right #box1{
    height: 250px;
    width: 250px;
    background-color: #ba633b;
    padding: 5px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page2 #right h2{
    color: #111;
    text-transform: uppercase;
    font-family: gilroy;
}
#page2 #right h1{
    color: #111;
    text-transform: uppercase;
    font-family: gilroy;
}
#page2 #right #box2{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    background-color: #89bd30;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page2 #right #box3{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #118291;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page3{
   height: 100vh;
   width: 100vw;
   background-color: #111;
   display: flex;
   align-items: center;
   justify-content: center;
}
#page3 #box{
    height: 30%;
    width: 20%;
    border-radius: 40px;
    /* transform: translate(90%,50%); */
    background-color: #ba633b;
}